.container {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  min-height: 100vh;
  background-color: #ececec60;
}

/* APPLY to ALL */
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/* Sidebar */
.side_nav {
  grid-area: 1/1/12/3;
  /* background-color: #e8edef; */
  background-image: linear-gradient(
    #e8e8e8,
    #e8e8e880,
    #f5efef50,
    #f2b48150,
    #f2b48130
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 1em;
  padding: 1em;
  padding-bottom: 0.3em;
  margin-right: 1em;
}

.side_nav > div {
  text-align: center;
}

.side_nav > div > h1 {
  margin: 0em auto;
}

.side_image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.top_image {
  width: 40%;
  height: auto;
}

.side_bottom {
  margin-top: -2em;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.side_links {
  margin: 0em;
  padding: 0em;
  padding-top: 2em;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}

.user_image {
  width: 30%;
  height: 70%;
}

.user_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  filter: saturate(85%);
}

.sidebar_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0em;
}

.sidebar_buttons a {
  border: none;
  background-color: #a1cb88;
  padding: 0.2em 0.5em;
  width: 50%;
  border-radius: 24px;
  display: flex;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.sidebar_buttons a:hover img {
  transform: translateX(110%) scale(1.1);
}

.sidebar_buttons a:hover p {
  display: none;
}

.home_icon {
  font-size: 1em;
  fill: #dae8c7;
  stroke: black;
  width: 30%;
  transition: 0.3s ease-in-out;
}

.sidebar_buttons p {
  font-size: 0.8em;
  margin: 0px;
  align-self: center;
  margin-left: 3px;
}

/* Header Nav */
.top_nav {
  grid-area: 1/3/2/13;
  display: flex;
  justify-content: space-between;
  padding: 0em 1em 1em 1em;
  align-items: center;
  background-color: #ececec60;
}

.top_user h4 {
  font-size: 0.8em;
}
.search_form {
  display: flex;
  width: 100%;
  align-items: center;
}
.search input {
  background-color: white;
  padding: 1em;
  margin: 0em;
  width: 50%;
  height: 2em;
  border-radius: 2em;
  border: 0px;
}

.search button {
  border: none;
  background-color: #ececec60;
  width: 4%;
  margin-left: 5px;
}
.search_icon {
  width: 100%;
}

/* Middle Content */
.middle {
  background-color: white;
  background-image: url("../media/image/Gardening-cuate.svg");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: -1.6em -1em;

  grid-area: 2/3/5/13;
  display: flex;
  justify-content: space-around;
}

.middle-right {
  display: flex;
  flex-direction: column;
}

.countdown {
  display: flex;
  gap: 1em;
}

.countdown div {
  background-color: #dae8c7;
  border-radius: 1em;
  padding: 0.5em;
  text-align: center;
  align-self: flex-end;
}

.countdown img {
  padding: 0em;
  margin: 0em;
  width: 3em;
  align-self: flex-start;
}
div .middle_countdown {
  padding: 0em 1.5em;
  margin-top: -3em;
  background-color: white;
}

.countdown1 {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  background: rgb(208, 114, 92);
  background: radial-gradient(
    circle,
    rgba(208, 114, 92, 1) 1%,
    rgba(218, 232, 199, 1) 90%
  );
  justify-content: space-between;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.countdown1 h1 {
  margin: 0em;
  padding: 0em;
  font-size: 3em;
}
.countdown1 span {
  padding: 1em 2em;
}

.countdown2 {
  background: rgb(200, 216, 219);
  background: linear-gradient(
    87deg,
    rgba(200, 216, 219, 1) 0%,
    rgba(218, 232, 199, 1) 70%
  );
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.countdown3 {
  background: rgb(200, 216, 219);
  background: linear-gradient(
    252deg,
    rgba(200, 216, 219, 1) 0%,
    rgba(218, 232, 199, 1) 70%
  );
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.countdown1 p {
  margin: 0em;
  padding: 0em;
}

td.jsCalendar-current {
  background-color: #f9a15870;
  border-radius: 10em;
}
#calendar {
  margin-top: 1em;
  background-color: #e8e8e820;
  border-radius: 16px 16px;
}

.jsCalendar-title-name {
  text-align: center;
  padding: 8px;
  margin-bottom: 0.5em;
  border-radius: 16px 16px 5px 5px;
  background-color: #e8e8e8;
}

#calendar td {
  padding: 0em 0.2em;
}

/* Timeline */
.timeline {
  background-color: #dae8c7;
  grid-area: 5/3/7/13;
  text-align: center;
  margin-right: 1em;
  background-color: white;
}

/* Main Content */
main {
  background-color: white;
  grid-area: 7/3/12/13;
  display: flex;
  justify-content: space-between;
}

.tags {
  background-color: #ebf4df;
  display: inline-block;
  width: 15%;
}

/* Footer */
/* footer {
    background-color: black;
    grid-area: 12/1/13/13;
  } */
