.container {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  /* min-height: 100vh; */
  background: linear-gradient(
    184deg,
    rgba(179, 236, 243, 0.1) 0%,
    rgba(179, 236, 243, 0.5) 15%,
    rgba(203, 203, 239, 0.9) 68%
  );
}

/* APPLY to ALL */
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* Sidebar */
.side_nav {
  grid-area: 1/1/12/3;
  /* background-color: #e8edef; */
  background: #ffffff70;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 1.5em;
  padding: 1em;
  margin: 0.5em 0em;
  margin-right: 1em;
  border-radius: 0em 2em 2em 0em;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.side_nav > div {
  text-align: center;
}

.side_nav > div > h1 {
  margin: 0em auto;
  font-size: 2em;
}

.side_image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.top_image {
  width: 40%;
  height: auto;
}

.side_bottom {
  margin-top: -2em;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.side_links {
  margin: 0em;
  padding: 0em;
  padding-top: 2em;
  font-size: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}

.user_image {
  width: 30%;
  height: 70%;
}

.user_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  filter: saturate(85%);
}

.sidebar_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin: 2em 0em;
}

.sidebar_buttons a {
  border: none;
  background-color: #90abda;
  padding: 0.2em 0.5em;
  width: 50%;
  border-radius: 24px;
  display: flex;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2);
}

.sidebar_buttons a:hover img {
  transform: translateX(110%) scale(1.1);
}

.sidebar_buttons a:hover p {
  display: none;
}

.home_icon {
  font-size: 1em;
  fill: #dae8c7;
  stroke: black;
  width: 25%;
  transition: 0.3s ease-in-out;
}

.sidebar_buttons p {
  font-size: 1em;
  margin: 0px;
  align-self: center;
  margin-left: 6px;
}

/* Header Nav */
.top_nav {
  grid-area: 1/3/2/13;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 1em 1em;
  align-items: center;
}

.top_user h4 {
  font-size: 0.8em;
}
.search_form {
  display: flex;
  width: 100%;
  align-items: center;
}
.search input {
  background-color: #ffffff;
  padding: 1.2em 2em;
  margin: 0em;
  width: 50%;
  height: 2em;
  border-radius: 2em;
  border: 0px;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.2);
}

.search button {
  border: none;
  background-color: #ececec60;
  width: 3%;
  margin-left: 10px;
}
.search_icon {
  width: 100%;
}

/* Middle Content */
.middle {
  background-color: #ffffff;
  /* background-image: url("../media/image/Gardening-cuate.svg");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: -1em -5em; */
  grid-area: 2/3/6/13;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px -4px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.middle-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.countdown {
  display: flex;
  gap: 0.5em;
  width: 100%;
  height: 80%;
}

.countdown > div {
  background-color: #dae8c7;
  border-radius: 1em;
  text-align: center;
  background-color: #ffffff;
  padding: 0em 1em;
  box-shadow: 0px -7px 0px 0px rgba(0, 0, 0, 0.2);
}

.countdown img {
  padding: 0em;
  margin: 0em;
  width: 45%;
  align-self: flex-start;
}
div .middle_countdown {
  width: 40%;
  height: 90%;
  margin-top: -2em;
}

.out_countdown {
  width: 35%;
  height: 80%;
  margin-top: -1em;
}

.countdown > div > div {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: space-between;
  padding: 1em;
  border-radius: 1em;
}

.countdown1 {
  background: radial-gradient(
    circle,
    rgba(161, 172, 208, 1) 10%,
    rgba(233, 226, 226, 1) 63%,
    rgba(220, 228, 231, 1) 99%
  );

  width: 100%;
  height: 100%;
}

.countdown1 h1 {
  margin: 0em;
  margin-top: -15%;
  padding: 0em;
  font-size: 3em;
}

.countdown1 p {
  margin: 0em;
}

.countdown2 {
  background: #b3c7df99;
  width: 100%;
  height: 100%;
}

.countdown3 {
  background: #b3c7df99;
  width: 100%;
  height: 100%;
}

td.jsCalendar-current {
  background-color: #969ecf;
  border-radius: 10em;
}
#calendar {
  /* margin-left: 1em; */
  background-color: #e8e8e890;
  border-radius: 16px;
  /* padding: 1em 0.5em; */
  align-self: center;
  width: 25%;
  margin: 1.5em;
}

#calendar table {
  width: 100%;
  height: 100%;
}

.jsCalendar-title-name {
  text-align: center;
  padding: 16px;
  font-size: 2em;
  margin-bottom: 0.5em;
  border-radius: 16px;
  background-color: #e9e2e2;
}

#calendar td {
  padding: 0em 0.5em;
  text-align: center;
}

/* Timeline */
.timeline {
  grid-area: 6/3/8/13;
  text-align: center;
  background-color: white;
}

/* Main Content */
main {
  background-color: #ececec60;
  grid-area: 8/3/13/13;
  display: flex;
  margin-top: 1em;
  padding: 1em 1em;
  /* gap: 3em; */
}

.main_left {
  width: 80%;
  display: flex;
}

.create_project {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 3%;
}

.create_project div {
  background-color: #90abda;
  writing-mode: vertical-lr;
  padding: 0.8em 0.5em 0.8em 0.2em;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 3px 3px 1px 0px #80808070;
  width: 100%;
}

.project_list {
  background-color: rgba(253, 251, 251, 0.861);
  border-radius: 1em;
  padding: 1.5em 1.5em;
  width: 95%;
  overflow: scroll;
}

.project_list h1 {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.project_list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.project_list td,
.project_list th {
  padding: 1em 1em;
  text-align: start;
  font-size: 1.2em;
}

.project_list th {
  border-bottom: 1px solid #b0d39c;
  margin-bottom: 1em;
  background-color: #e9e2e2;
}

.header_left {
  border-radius: 8px 0em 0em 0em;
}

.header_right {
  border-radius: 0em 8px 0em 0em;
}

.project_list tr {
  border-bottom: 1px solid #a6a3a340;
}

.main-right {
  width: 20%;
}

.tags {
  margin: 1em 1em 1em 0em;
  background-color: #b8cbec99;
  border-radius: 8px;
  padding: 1.5em;
}
.tags p {
  font-size: 1.2em;
}

.tags button {
  margin: 2px 0px;
}

/* Footer */
/* footer {
    background-color: black;
    grid-area: 12/1/13/13;
  } */
