{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body class="container">
    <!-- SIDE BAR -->
    <div class="side_nav">
      <h1>Project Managing Junkie</h1>
      <ul>
        <li>
          <button>
            <a href="{% url 'home' %}">Dashboard</a>
          </button>
        </li>
        <li>
          <button>
            <a href="{% url 'list_projects' %}">My projects</a>
          </button>
        </li>
        <li>
          <button>
            <a href="{% url 'show_my_tasks' %}">My tasks</a>
          </button>
        </li>
        <li>
          <button>
            <a>Task Timeline</a>
          </button>
        </li>
        <li>
          <button>
            <a>Planning Space</a>
          </button>
        </li>
      </ul>
      <div>
        <img alt="user_image" />
        {% if user.is_authenticated %}
        <ul>
          <li>
            <a>Settings</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
        {% else %}
        <ul>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>

    <!-- HEADER -->
    <div class="top_nav">
      <div class="search">
        <form method="post" action="{% url 'show_search_results' %}">
          {% csrf_token %}
          <input
            type="search"
            placeholder="Search Projects or Tasks"
            name="searched"
          />
          <button type="submit">Search</button>
        </form>
      </div>
      <div>
        <img alt="user image" />
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- BASE CONTENT -->
    <div class="middle">
      <div
        id="calendar"
        class="auto-jsCalendar default-theme green"
        data-navigator="false"
        data-zero-fill="true"
        data-month-format="month YYYY"
        data-day-format="DD"
        data-firstDayOfTheWeek="2"
      ></div>
      {% comment %} <div>
        <div>
          <p>{{ days_countdown }} days till {{ urgent_task.name }} due</p>
        </div>
        <div>
          <p>Projects Completed {{completed_projects|length}}</p>
        </div>
        <div>
          <p>Tasks Completed {{completed_tasks|length }}</p>
        </div>
      </div> {% endcomment %}
      {% block middle %}
      {% endblock middle %}
      <div>
        <h2>Urgent Tasks</h2>
      </div>
    </div>

    <!-- TIMELINE -->
    <div class="timeline">
      <h1>a Timeline View</h1>
    </div>

    <!-- PAGE CONTENT -->
    {% block content %} {% endblock content %}
    <!-- jsCalendar script -->
    <script
      src="https://unpkg.com/simple-jscalendar@1.4.4/source/jsCalendar.min.js"
      integrity="sha384-0LaRLH/U5g8eCAwewLGQRyC/O+g0kXh8P+5pWpzijxwYczD3nKETIqUyhuA8B/UB"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
