{% extends 'base.html' %} {% load static %} {% block title %}
<title>Completed Tasks</title>
{% endblock title %} {% block user_image%}
<img src="{{ user_avatar.avatar }}" />
<div>
  <p>{{user_avatar.user}}</p>
  <a class='side_links'>settings</a>
  </div>
{% endblock user_image%} {% block top_user_image %}
<h4>{{user_avatar.user}}</h4>
{% endblock top_user_image%} {% block middle%}
<div class="middle-right">
  <div class="countdown">
    <div class="out_countdown">
      <div class="countdown2">
        <p>Completed</p>
        <p>{{completed_projects|length}}</p>
        <p>Projects</p>
      </div>
    </div>
    <div class="middle_countdown">
      <div class="countdown1">
        <img class="middle_icon" src="{% static 'media/image/time2.svg' %}" />
        <span>
          <h1>{{ days_countdown }}</h1>
          <p>Days</p>
        </span>
        <p> {{ urgent_task.name }} due</p>
      </div>
    </div>
    <div class="out_countdown">
      <div class="countdown3">
        <p>Completed</p>
        <p>{{completed_tasks|length }}</p>
        <p>Tasks</p>
      </div>
    </div>
  </div>
  <div>
    <h4>Hello, {{user_avatar.user}}. Explore your user dashboard.</h4>
  </div>
</div>
{% endblock middle %} {% block content %}
<main>
  <div class="project_list">
    <h1>Completed Tasks</h1>
    {% if tasks|length == 0 %}
    <p>You have no tasks</p>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Project</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Is completed</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.project.name }}</td>
          <td>{{ task.start_date|date:"m/d/y" }}</td>
          <td>{{ task.due_date|date:"m/d/y" }}</td>
          <td>{{ task.is_completed|yesno }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <div class="create_project">
    <div>
      <a href="{% url 'show_my_tasks' %}">Active Tasks</a>
    </div>
  </div>
</main>
{% endblock content %}
