{% extends 'base.html' %} {% load static %} {% block title %}
<title>Projects List</title>
{% endblock title %} {% block user_image%}
<img src="{{ user_avatar.avatar }}" />
{% endblock user_image%} {% block top_user_image %}
<h4>{{user_avatar.user}}</h4>
{% endblock top_user_image%} {% block middle%}
<div class="middle-right">
  <div class="countdown">
    <div class="out_countdown">
      <div class="countdown2">
        <p>Completed</p>
        <p>{{completed_projects|length}}</p>
        <p>Projects</p>
      </div>
    </div>
    <div class="middle_countdown">
      <div class="countdown1">
        <img class="middle_icon" src="{% static 'media/image/time2.svg' %}" />
        <span>
          <h1>{{ days_countdown }}</h1>
          <p>Days</p>
        </span>
        <p>till {{ urgent_task.name }} due</p>
      </div>
    </div>
    <div class="out_countdown">
      <div class="countdown3">
        <p>Completed</p>
        <p>{{completed_tasks|length }}</p>
        <p>Tasks</p>
      </div>
    </div>
  </div>
  <div>
    <h4>Hello, {{user_avatar.user}}. Explore your user dashboard.</h4>
  </div>
</div>

{% endblock middle%} {% block content %}
<main>
  <div class="main_left">
    <div class="project_list">
      <h1>Active Projects</h1>
      {% if projects|length == 0 %}
      <p>You are not assigned to any projects</p>
      {% else %}
      <table>
        <thead>
          <tr>
            <th class="header_left">Name</th>
            <th>Status</th>
            <th>Tasks</th>
            <th>Deadline</th>
            <th class="header_right"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td>
              <a href="{% url 'show_project' project.id %}"
                >{{ project.name }}</a
              >
            </td>
            <td>{{project.status}}</td>
            <td>{{ project.tasks.all|length }}</td>
            <td>{{ project.deadline|date:"m/d/y" }}</td>
            <td>
              {% for tag in project.tags.all|slice:":2"%}
                <a class="tag_color" href=" {% url 'show_tagged_project' tag.id %} "
                  >{{tag.name|truncatechars:5}}</a
                >
              {% endfor %}
            </td>
            <td class='edit-td'>
              <a href="{% url 'delete_project' project.id %}">
                <img class="edit-icon" src="{% static 'media/image/trash2.svg' %}" />
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="create_project">
      <div>
        <a href="{% url 'create_project' %}">Add Project</a>
      </div>
      <div>
        <a href="{% url 'completed_projects' %}">Completed</a>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div>
      <img src="{% static 'media/image/timemanage2.svg' %}" />
    </div>
    <div class="tags">
      <p>Popular Tags</p>
      <div>
      {% for tag in top_tags %}
      <a class='tag_color' href=" {% url 'show_tagged_project' tag.id %} ">{{tag.name}}</a>
      {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
